header {
  display: flex;
  flex-direction: column;

}

header ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.vp-logo {
  padding: 0.5rem;
}

.vp-container ul li {
  padding: 6px;
}

/************************ Section 2 ***************************/

.welcome-item h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 3.5rem;
}

.welcome-item h3 {
  font-size: 0.9rem;
  margin: 0px 50px;

}

/************************ Section 3 ***************************/

.offer {
  padding: 50px 15px 50px 15px;
}

.title {
  font-size: 1.5rem;
}

.offer-list {

  display: flex;
  flex-direction: column;


}

/************************* info **********/

.info {
  display: flex;
  flex-direction: column;
}